body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #444;
}

header {
  position: fixed;
  height: 55px;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

main {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 55px;
  bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  height: 55px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

button {
  color: #444;
  font-size: 16px;
  background-color: #fff;
  border: 0px;
  padding: 0px 23px;
  border: 1px solid #fff;
  font-family: 'Roboto', sans-serif;
  transition: background-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

h1 {
  font-size: 26px;
}

button:hover {
  cursor: pointer;
  background-color: #bf9f95;
  color: #fff;
}

.center-900 {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 100%;
  margin: auto;
  padding: 5px;
}

.center-900 > * {
  display: flex;
  align-items: center;
  height: 100%;
}

.canvas-container {
  position: relative;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.canvas-header {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  height: 40px;
  border-bottom: 2px solid #444;
}
.canvas-header span {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.canvas-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000
}

.menu-bar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #444d;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.menu-box {
  flex-grow: 1;
  background-color: #fff;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding: 20px;
}

#canvas {
  display: block;
  background-image: url("http://res.cloudinary.com/dhc8w148v/image/upload/v1512582995/grid_baetvc.png");
  background-position: -19px 26px;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

#menu-modal {
  position: absolute;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fffa;
  display: flex;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}
